<% content_for :title do "Admin" end %>

<div class="flex bg-fixed bg-center bg-no-repeat bg-cover h-max" style="background-image: url('<%= asset_path("background.png") %>');">
  <div class="bg-gray-800 text-slate-100 bg-opacity-60 h-full w-full pb-16">
    <div class="container m-auto px-8 sm:px-16 md:px-32 py-8 space-y-6">
      <% if flash.any? %>
        <div class="px-4 sm:px-8 md:px-16 pt-4">
          <%= render 'shared/flash' %>
        </div>
      <% end %>
      <div class="text-center">
        <h1 class="text-white text-3xl font-bold">Admin interface</h1>
        <p class="text-lg">
          Currently logged in as
          <%= image_tag "telegram_circle.png", width: "24px", height: "24px", class: "inline rounded-full bg-cyan-400 p-1 mr-1" %>
          @<%= current_user.telegram_username %>
        </p>
      </div>

      <div>
        <h2 class="text-white text-2xl text-center">Admin tools:</h3>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 space-y-5 mx-auto">
        <div class="mt-5 rounded-lg bg-slate-600 px-2 py-4 space-y-4 text-center overflow-hidden">
          <h3 class="text-white text-xl">Constants reset button</h3>
          <p>
            Use the button below to fetch new constants from OpenDota and update
            the current set. Useful when heroes, items, regions or game modes are
            coming back as "Unknown" or a patch has broken command outputs.
          </p>
          <p>
            <ul>
              <li>
                <b>Heroes:</b> <%= @hero_count %> (<%= @hero_last %>)
              </li>
              <li>
                <b>Items:</b> <%= @item_count %>
              </li>
              <li>
                <b>Lobby types:</b> <%= @lobby_type_count %>
              </li>
              <li>
                <b>Game modes:</b> <%= @game_mode_count %>
              </li>
              <li>
                <b>Patches:</b> <%= @patch_count %> (<%= @patch_last %>)
              </li>
              <li>
                <b>Regions:</b> <%= @region_count %>
              </li>
            </ul>
          </p>
          <div>
            <%= link_to "Refresh Constants", refresh_constants_url, data: {"turbo-method": :patch, "turbo-confirm": "Are you sure?"}, class: "p-2 bg-red-800 hover:bg-red-600 rounded-lg" %>
          </div>
        </div>

        <div class="mt-5 rounded-lg bg-slate-600 px-2 py-4 space-y-4 text-center overflow-hidden">
          <h3 class="text-white text-xl">Alias management</h3>
          <p>Interface for adding, editing and removing (custom) aliases.</p>
          <p>Current amount of aliases: <%= @nickname_count %></p>
          <p>
            Amount of default (seeded and generated) aliases:
            <%= @default_nickname_count %>
          </p>
          <p class="pt-5">
            <%= link_to "Alias management page", nicknames_url, class: "p-2 bg-blue-700 hover:bg-blue-500 rounded-lg" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
