<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper(yield :title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="title" content="Gem of True Sight">
    <meta name="description" content="A Telegram bot for sharing your Dota 2 stats.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:title" content="Gem of True Sight">
    <meta property="og:description" content="A Telegram bot for sharing your Dota 2 stats.">
    <meta property="og:image" content="<%= image_url "gem.png" %>">
  </head>

  <body>
    <main class="w:full">
      <%= yield %>
    </main>
  </body>
</html>
